#facebook-login
  - if current_user
    Welcome
    = current_user.name
    = link_to "Wyloguj się", signout_path, id: "sign_out"
  - else
    = link_to "Zaloguj się", "/auth/facebook", id: "sign_in"
    aby dołączyć do Mistrzów Siorbania


