#facebook-login
  - if current_user
    Witaj
    = current_user.name
    = link_to "wyloguj się", signout_path, id: "sign_out", data: { confirm: "Na pewno ?" }
  - else
    .sign-in-field
      = link_to "Zaloguj się", "/auth/facebook", id: "sign_in"
      , aby dołączyć do Mistrzów Siorbania


