#modals-heading
  %span#infoModal-btn{"data-target" => "#infoModal", "data-toggle" => "modal"}
    .btn.btn-sm.btn-default O co chodzi ?

#infoModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h3#myModalLabel.modal-title Mistrzowie Siorbania
      .modal-body
        Mistrzowie Siorbania to elitarna grupa największych Yerbochłonów Polski!
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Zamknij

#competitionModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h3#myModalLabel.modal-title Mistrzostwa siorbania - edycja mikołajkowa
      .modal-body
        %p
          Siorb założył czapkę Mikołaja i rozdaje prezenty. Ale trzeba się postarać o jego względy! Rozpoczynamy mikołajkową edycję Mistrzów SIORBania.
          = link_to "Zaloguj się przez Facebooka", "/auth/facebook", id: "sign_in"
          , i nabijaj punkty! Masz czas do 7.12.
        %p
          Aplikacja nie udostępni żadnych informacji na twoim profilu - tak, my też tego nie lubimy...

        %p
          Trzy osoby z najlepszymi wynikami dostaną przenty od SIORBowatego Mikołaja:
        %ul
          %li
            I miejsce - naczynie z Palo Santo + bombilla Bambus Extra + 0,5kg Yerba Mate
          %li
            II miejsce - agentyńska tykwa + bombilla Anel nierdzewna + 0,5kg Yerba Mate
          %li
            III miejsce - 2 x 0,5kg Yerba Mate

        %p
          Dodatkowo zapisz się na
          = link_to "wydarzenie na FB", "http://tinyurl.com/lyhd2c4", target: '_blank'
          , aby być na bieżąco i zgarniać dodatkowe nagrody:

        %p
          %strong *WAŻNE:
          Do rankingu Mistrzów Siorbania zostaną zapisane tylko te wyniki, które zostały osiągnięte po zalogowaniu. Ze względu na bezpieczeństwo danych i wszechświata, punkty zdobyte przed zalogowaniem, po utworzeniu konta ulegną wyzerowaniu.


      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Zamknij

