#login-stuff
  - if current_user
    Witaj
    = current_user.name
    = link_to "wyloguj się", signout_path, id: "sign_out", data: { confirm: "Na pewno ?" }
  - else
    #signInModal-btn{"data-target" => "#signInModal", "data-toggle" => "modal"}
      .btn.btn-xs.btn-default Zaloguj się

      aby dołączyć do Mistrzów Siorbania



    #signInModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
            %h3#myModalLabel.modal-title Mistrzowie Siorbania Logowanie
          .modal-body
            %ul.nav.nav-tabs
              %li.active
                %a{"data-toggle" => "tab", href: "#a"} Zaloguj się
              %li
                %a{"data-toggle" => "tab", href: "#b"} Zarejestruj się

            .tab-content
              #a.tab-pane.active
                .sign-in-field
                  = link_to "Zaloguj się", "/auth/facebook", id: "sign_in"
              #b.tab-pane
                = render 'registration_form'
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Zamknij
