#game-wrapper.col-lg-8.nopadding
  #fb-root
  #game
  :javascript
    GameInterface.start();

  .row
    .col-lg-6
      .share-button
        = image_tag 'fbShareButton.png'
      .share-image
        = image_tag 'shareIt.png'
    #contact-message.col-lg-6
      =render 'contact_message_form'
#ranking-wrapper.col-lg-4.nopadding
  = render 'ranking'
