#game-wrapper.col-lg-8.nopadding
  #fb-root
  #game
  :javascript
    Game.start();

  .row
    .col-lg-6

    #contact-message.col-lg-6
      =render 'contact_message_form'
#ranking-wrapper.col-lg-4.nopadding
  = render 'ranking'
