#game-wrapper.col-lg-8.nopadding
  #fb-root
  #game
  %script{src: "libs/jcarousel-min.js"}
  %script{src: "libs/crafty-min.js"}
  %script{src: "libs/siorb-min.js"}
  :javascript
    Game.start();

  .row
    .col-lg-6

    #contact-message.col-lg-6
      =render 'contact_message_form'
#ranking-wrapper.col-lg-4.nopadding
  = render 'ranking'
