<div id='game'>
    <div id='fb-root'></div>
    <!-- game js -->
    <script src="libs/jcarousel-min.js"></script>
    <script src="libs/crafty-min.js"></script>
    <script src="libs/siorb-min.js"></script>
    <script>
      Game.start();
    </script>
    <!-- game js end -->


  <!-- google analitics -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34244867-4']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <!-- google analitics end -->

</div>