<div id='game'>
    <div id='fb-root'></div>
    <!-- game js -->
    <script src="libs/jcarousel-min.js"></script>
    <script src="libs/crafty-min.js"></script>
    <script src="libs/siorb-min.js"></script>
    <script>
      Game.start();
    </script>
    <!-- game js end -->



</div>