# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

.env.development
.env.test
.env.production

/config/database.yml

/config/settings/test.yml
/config/settings/development.yml
/config/settings/production.yml
/config/settings/staging.yml
