# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
dump.rdb

.env.production
.env.development
.env.test
.env

/config/database.yml

/config/settings/test.yml
/config/settings/development.yml
/config/settings/production.yml
/config/settings/staging.yml

public/bower_components
public/assets

