// Place all the styles related to the Admin::Panel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#panel-content {
  padding: 0px 0px 0px 20px;
}

.form-control {
  margin: 3px;
  width: 200px;
}

.reload-btn {
  margin-left: 3px;
}

.users-count {
  float: right;
  padding-right: 50px;
}


.table {
  font-size: 16px;

  tr > td {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
  }

  tr > td:not(.image-cell) {
    padding-top: 6px !important;
    padding-bottom: 3px !important;
  }

  img {
    width:30px;
    height:30px;
  }

  .name-header {
    width: 280px;
  }

  .nickname-header {
    width: 150px;
  }

  .email-header {
    width: 200px;
  }
}

