$greyColor: #bbbbbb;

#ranking {
  padding: 10px 0px 100px 30px;
  font-size: 16px;
  background-image:url('rankingBg.png');
  background-repeat: no-repeat;
  background-position:150px 110px;

  .bold {
    font-weight: bold;
  }

  #user-data {
    height: 100px;
    padding: 10px 0px 0px 5px;

    #nickname-form {
      padding: 4px 0px 0px 0px;

      input[type=text] {
       padding-left: 5px;
      }

      .btn {
        margin-bottom: 2px;
        height: 22px;

      }

      #user_nickname {
        border:1px solid $greyColor;
        border-radius:3px;
        height: 22px;
        width: 180px;
        font-size: 15px;
      }
    }

    #facebook-login {
      a {
        color: $greyColor;
      }

      a:hover {
        color: #000000;
        text-decoration: none;
      }
      .sign-in-field {
        background-image:url('fbIcon.png');
        background-repeat: no-repeat;
        background-position:76px -5px;
        width: 380px;
      }
      a {
        padding-right: 22px;
      }
    }
  }


  #player-list {
    padding: 20px 0px 0px 60px;
    width: 330px;

    .player-entry {
      clear: both;
      .place {
        width: 30px;
        float:left;
      }

      .nickname {
        float:left;
        width: 200px;
      }

      .score {
        text-align: left;
        float:right;
      }
    }

    #scores-list {
      height:230px;
    }

    .pagination {
      margin:0px 0px 80px 0px !important;
      padding-left: 115px;
      font-size: 18px;
      color: $greyColor;

      .current {
        color: #000000;
      }

      .disabled {
        color: #FFFFFF; //invisible
      }

      a {
        color: $greyColor;
      }
    }

  }

  #infoModal-heading {
    padding: 0px 0px 15px 5px;

    #infoModal-btn {
      margin: 5px 0px 0px 305px;
    }
  }

  .modal-body {
    font-size: 16px;
    ul {
      padding-top: 10px;
    }
  }

  hr {
    margin: 0px 0px 10px 15px;
  }

  #logos {
    padding-left: 20px;

    img {
      padding: 0px 0px 0px 5px;
    }
  }
}


