/* Crafty styling */

#cr-stage {
  background-image: url('http://siorb.dobreziele.pl/assets/images/gameplayBg.jpg');
}

.Platform {
  background-image: url('http://siorb.dobreziele.pl/assets/images/platform.png');
  background-repeat:repeat-x;
}

/* Crafty styling end */

.shelly-logo {
  padding-top: 5px;
}

/* jcarousel styles */

 .jcarousel {
    position: relative;
    overflow: hidden;
    width: 431px;
    height: 287px;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}

/* jcarousel styles end */


