// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Crafty styling */


body {
  height: 1000px;
}

#ranking-wrapper {
  height: 1000px;
}

#game-wrapper {
  height: 1000px;
}

#shelly-logo img {
  padding: 10px 0px 0px 10px;
}

#contact-message {
  padding-top: 15px;
  width: 260px;

  .contact-form-btn {
    margin: 0px 0px 10px 155px;
  }

  .submit {
    margin: 0px 0px 10px 200px;
  }

  textarea {
    padding-left: 10px;
    resize: none;
    border:1px solid #000000;
    border-radius:10px;
    width: 260px;
    font-size: 15px;
  }
}


#nickname-form {
  padding: 20px 0px 0px 0px;
  #user_nickname {
    border:1px solid #000000;
    border-radius:10px;
    height: 32px;
    width: 180px;
    font-size: 18px;
  }
}


#infoModal-heading {
  padding: 10px 0px 15px 0px;
  .heading {
    font-size: 30px;
  }
}

.modal-body {
  text-align: center;
  font-size: 18px;
}

#fb-stuff {
  padding: 20px 0px 15px 0px;
}

