#contact-message {
  padding-top: 5px;
  width: 415px;

  .contact-form-btn {
    margin: 0px 0px 10px 280px;
  }
  .contact-form-info {
    padding-left:160px;
  }

  form {
    margin-left: 125px;
  }

  .submit {
    margin: 0px 0px 10px 198px;
  }

  textarea {
    padding-left: 10px;
    resize: none;
    border:1px solid #cccccc;
    border-radius:5px;
    width: 260px;
    font-size: 15px;
  }
}

/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  padding-top: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;

  #cookies-all-right {
    margin-left: 10px;
  }
}

/* Pimp My Siorb stuff */
.share-image {
  padding-left: 65px;
  display: none;
}

#sharingModal-btn {
  padding: 10px 0px 0px 2px;
  font-size: 18px;
  .btn {
    margin: 5px;
  }

  #pimpingOff {
    opacity: 0.6;
  }

  #pimpingOn {
    opacity: 0.9;
  }

  #pimpingOn:hover {
    opacity: 1;
  }
}

#sharingModal {
  font-size: 18px;

  img {
    padding-top: 20px;
    margin-left: 120px;
  }
}


