// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Crafty styling */



#game {
  // margin: 30px 0px 0px 30px;
}

#ranking {
  // padding: 0px 0px 0px 20px;
  // height: 600px;
}

#shelly-logo img {
  padding: 10px 0px 0px 10px;
}

#contact-message {
}


.nickname-form #user_nickname {
  border:2px solid #000000;
  border-radius:10px;
  height: 32px;
  width: 180px;
  font-size: 18px;
}

.modal-body {
  font-size: 18px;
}