/* Crafty styling */
#game {
  background-image: url("http://yerba.shellyapp.com/assets/images/gameplayBg.jpg"); }

.Platform {
  background-repeat: repeat-x; }

.level1 {
  background-image: url("http://yerba.shellyapp.com/assets/images/platform1.png"); }

.level2 {
  background-image: url("http://yerba.shellyapp.com/assets/images/platform2.png"); }

.level3 {
  background-image: url("http://yerba.shellyapp.com/assets/images/platform3.png"); }

.level4 {
  background-image: url("http://yerba.shellyapp.com/assets/images/platform4.png"); }

.level5 {
  background-image: url("http://yerba.shellyapp.com/assets/images/platform5.png"); }

.level6 {
  background-image: url("http://yerba.shellyapp.com/assets/images/platform6.png"); }

.level7 {
  background-image: url("http://yerba.shellyapp.com/assets/images/platform7.png"); }

.level8 {
  background-image: url("http://yerba.shellyapp.com/assets/images/platform8.png"); }

.fb-share-button {
  margin-top: 360px; }

/* Crafty styling end */
.shelly-logo {
  padding-top: 5px; }

/* jcarousel styles */
.jcarousel {
  position: relative;
  overflow: hidden;
  width: 431px;
  height: 287px; }

.jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0; }

.jcarousel li {
  float: left; }

.inactive {
  display: none !important;
  visibility: none !important; }

/* jcarousel styles end */