%button.btn.btn-default.btn-sm.reload-btn{'ng-click' => 'reloadData()'}
  Odśwież
%span.users-count Unikalni użytkownicy: {{uniqCount}}
%span.shares-count Udostępnienia: {{sharesCount}}

%input.form-control{'ng-model'=> 'ipFilter.ip', 'placeholder' => 'Wyklucz ip'}
%input.form-control{'ng-model'=> 'statFilter', 'placeholder' => 'Szukaj'}

%table.table.table-striped
  %thead
    %tr
      %th{'ng-click' => "order.setAttr('ip')" }
        .btn.btn-sm.btn-default Adres ip
      %th{'ng-click' => "order.setAttr('attempts')" }
        .btn.btn-sm.btn-default Podejścia
      %th{'ng-click' => "order.setAttr('city')" }
        .btn.btn-sm.btn-default Miasto
      %th{'ng-click' => "order.setAttr('duration')" }
        .btn.btn-sm.btn-default Czas gry
      %th{'ng-click' => "order.setAttr('score')" }
        .btn.btn-sm.btn-default Wynik
      %th{'ng-click' => "order.setAttr('created_at_unix')" }
        .btn.btn-sm.btn-default Start
      %th{'ng-click' => "order.setAttr('updated_at_unix')" }
        .btn.btn-sm.btn-default Koniec
      %th
  %tbody
    %tr{'ng-repeat' => "stat in statistics | filter:statFilter | excludeIp:ipFilter | orderBy:order.attr:order.reverse" }
      %td
        {{stat.ip}}
      %td
        {{stat.attempts}}
      %td
        {{stat.city}}
      %td
        {{stat.duration}}
      %td
        {{stat.score}}
      %td
        {{stat.created_at_txt}}
      %td
        {{stat.updated_at_txt}}
      %td
        .btn.btn-sm.btn-danger{'ng-click' => "removeStat(stat.id)", 'confirm-click' => 'Usunąć dane statystyki ?'} Usuń
