%input{'ng-model'=> 'userFilter.name'}

%table.table.table-striped
  %thead
    %tr
      %th
        Foto
      %th{'ng-click' => "order.setAttr('name')" }
        .btn.btn-sm.btn-default Imię
      %th{'ng-click' => "order.setAttr('nickname')" }
        .btn.btn-sm.btn-default Nickname
      %th{'ng-click' => "order.setAttr('email')" }
        .btn.btn-sm.btn-default Email
      %th{'ng-click' => "order.setAttr('best_score')" }
        .btn.btn-sm.btn-default Najlepszy wynik
      %th{'ng-click' => "order.setAttr('gameplays')" }
        .btn.btn-sm.btn-default Ilość gier
      %th{'ng-click' => "order.setAttr('location')" }
        .btn.btn-sm.btn-default Lokalizacja
      %th
  %tbody
    %tr{'ng-repeat' => 'user in users | orderBy:order.attr:order.reverse |  filter:userFilter'}
      %td.image-cell
        %img{'ng-src' => "{{user.image_url}}", 'alt' => ''}
      %td
        {{user.name}}
      %td
        {{user.nickname}}
      %td
        {{user.email}}
      %td
        {{user.best_score}}
      %td
        {{user.gameplays}}
      %td
        {{user.location}}
      %td
        .btn.btn-sm.btn-danger{'ng-click' => "removeUser(user.id)", 'confirm-click' => 'Usunąć dane użytkownika?'} Usuń z bazy
