usersa

%button.btn.btn-default{'ng-click' => 'getData()'} clicka me

%input{'ng-model'=> 'userFilter'}
%ul
  %li{'ng-repeat' => 'user in users | filter:userFilter'}
    {{user.name}}
    {{user.nickname}}

%table.table.table-stripped