%button.btn.btn-default.btn-sm.reload-btn{'ng-click' => 'reloadData()'} Odśwież
%input.form-control{'ng-model'=> 'userFilter', 'placeholder' => 'Szukaj'}

%table.table.table-striped
  %thead
    %tr
      %th
        Foto
      %th.name-header{'ng-click' => "order.setAttr('name')" }
        .btn.btn-sm.btn-default Imię
      %th.nickname-header{'ng-click' => "order.setAttr('nickname')" }
        .btn.btn-sm.btn-default Nickname
      %th.email-header{'ng-click' => "order.setAttr('email')" }
        .btn.btn-sm.btn-default Email
      %th{'ng-click' => "order.setAttr('best_score')" }
        .btn.btn-sm.btn-default Rekord
      %th{'ng-click' => "order.setAttr('gameplays')" }
        .btn.btn-sm.btn-default Podejścia
      %th{'ng-click' => "order.setAttr('date')" }
        .btn.btn-sm.btn-default Data rejestracji
      %th{'ng-click' => "order.setAttr('birthday_date')" }
        .btn.btn-sm.btn-default Data urodzin
      %th{'ng-click' => "order.setAttr('location')" }
        .btn.btn-sm.btn-default Lokalizacja
      %th
  %tbody
    %tr{'ng-repeat' => 'user in users | orderBy:order.attr:order.reverse |  filter:userFilter'}
      %td.image-cell
        %img{'ng-src' => "{{user.image_url}}", 'alt' => ''}
      %td
        {{user.name}}
      %td
        {{user.nickname}}
      %td
        {{user.email}}
      %td
        {{user.best_score}}
      %td
        {{user.gameplays}}
      %td
        {{user.date}}
      %td
        {{user.birthday_date}}
      %td
        {{user.location}}
      %td
        .btn.btn-sm.btn-danger{'ng-click' => "removeUser(user.id)", 'confirm-click' => 'Usunąć dane użytkownika?'} Usuń z bazy
