!!!
%html
  %head
    %title Siorb - Droga do Rozbudzenia (Gra Yerba Mate Kraków)
    %meta{content: "sZ4--LsbNoGYW6P98faBBMim2UyNyZH6j11cCAxXHEo", name: "google-site-verification"}/
    %meta{content: "width=device-width, user-scalable=yes", name: "viewport"}/

    = stylesheet_link_tag "mobile/application"
    = favicon_link_tag
    = csrf_meta_tags
  %body
    = image_tag 'siorbSolo.png'
    %p Wróć tu na komputerze !

